#area2
  #page_insert
.control
  %p
    %span#left="<<"
    　
    %span#right=">>"
    　
    %span#plus1="+1"
    　
    %span#bound
  %p
    %span
      %input{name: :page_jump, id: :page_jump}
    %span /
    %span=@comic.max_page
    　
    %span#jump Jump
  %p
    %span#aozora
  %p.title=@comic.title
  %p.h2#to_aozora
    %a{href: "javascript:void(0)"}Aozora mode
  %div.cache
    %span#cache_insert
  .none
    %span#is_left=@comic.left
    %span#max_page=@comic.max_page
    %span#action read
    %span#controlle page
    %span#id=@comic.id
    %span#page_initial=params[:page]
    %span#now

