<!DOCTYPE html>
%meta{charset: 'UTF-8'}
%title Remote - Pig Media Server
%script{src: 'http://code.jquery.com/jquery.min.js'}
%script{src: '/movie.js'} 
%script{src: '/storage.js'}
%script{src: '/remote.js'}
%script{src: '/session.js'}
%meta(content='width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport')
%link{href: '/app.css', rel: 'stylesheet', type: 'text/css'}
#area=''
.none
  #link
  #action remote
  %span#user_id=session[:user_id]
  %canvas#canvas
