<!DOCTYPE html>
%meta{charset: 'UTF-8'}
%title Remote - Pig Media Server
%script{src: 'http://code.jquery.com/jquery.min.js'}
-%w{movie storage remote unread session}.each do |js|
  %script{src: "/#{js}.js"}
%meta(content='width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport')
%link{href: '/app.css', rel: 'stylesheet', type: 'text/css'}
#area=''
.none
  #link
  #action remote
  %span#user_id=session[:user_id]
  %canvas#canvas
