<!DOCTYPE html>
%meta{charset: 'UTF-8'}
%title Pig Media Server
%link{href: '/app.css', rel: 'stylesheet', type: 'text/css'}
%script{src: 'http://code.jquery.com/jquery.min.js'}
%script{src: '/sub.js'}
%script{src: '/subview.js'}
%meta{content: 'width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport'}
#all
  %h1 pig.ssig33.com
  %form{method: 'GET', action: '/'}
    %input{name: 'query', value: params[:query]}
    %button Search
    %a{href: '/latest'} Latest
    %a{href: '/?syobo=true'} Syobocal
    %a{href: '/config'} Config
    -if config['custom_list'].class == Hash
      -config['custom_list'].each do |k,v|
        %a{href: "/custom?name=#{CGI.escape k}"}=k
  %h2 Subtext
  %h3=@p.name
  .control
  %h4 Data
  %div.srt!=markdown @p.srt
  %div
    %a{href: "/nosub/#{params[:key]}"} Edit
.none
  %span#key=params[:key]
  %span#url=@p.url
  %span#path
  %canvas#canvas
